body {
    background-color:whitesmoke;
    font-size:10px;
   
}
.connected { color:green; font-weight:bold; }
.disconnected { color:red; font-weight:bold; }

.table1 { border:1px gray; table-layout:fixed;  }
.thing { font-family: "Courier New"; }

.tdlabel { background-color: white; color:grey; font-family: "Arial"; font-size:small; padding:5px; border-top:2px solid white; }
.tdvalue { background-color: gainsboro; font-family: "Courier New"; padding:5px; border-top:2px solid white; }
.tdvaluesmall { background-color: gainsboro; color:black; word-wrap:break-word; font-size:9pt; font-family: "Courier New"; padding:5px; border-top:2px solid white; }


#sessionattributes {  font-size:10pt;
                background-color:gainsboro;
                font-family:"Courier New";
                overflow-y:scroll;
                overflow-x:hidden;
                height:500px;  }

.columntitle { font-size: 11pt; font-weight:bold; }


.testbutton {font-size:8pt; background-color: whitesmoke; border:0px solid;  }

#chatbox {
    overflow:scroll;
    background-color: gainsboro;
}

.chat {
    width: 400px;
    height: 500px;
    font-family: "Courier New";
    font-size:12pt;

}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    /*box-shadow: 0 0 6px red;*/
    display: inline-block;
    padding: 5px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;
    margin: 5px 45px 5px 20px;
    background-color: khaki;
    color:black;
    font-weight:bold;
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
    background-color: khaki;
}

.you {
    float: right;
    margin: 5px 20px 5px 45px;
    background-color: blue;
    color:white;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
    background-color: blue;

}

